
/*Background-color*/

$color-fondo-1:rgba(128, 128, 128, 0.5);
$color-fondo-2:black;
$color-fondo-3:rgba(0, 0, 0, 0.5);
$color-fondo-4:rgba(241, 238, 238, 0.3);
$color-fondo-5:#007bff;
$color-fondo-6:#ffffff;
$color-fondo-7:#0069d9;


/*color*/

$color1:black;
$color2:white;
$color3:rgb(172, 73, 73);

